packages:
  yum:
    python34-devel: []
    postgresql94-devel: []

container_commands:
  01_db_upgrade:
    command: "python manage.py migrate --no-input"
    leader_only: true
    ignoreErrors: true
  02_collect_static:
    command: "python manage.py collectstatic --noinput"
    ignoreErrors: true

commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >/etc/httpd/conf.d/wsgi-auth.conf'

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend/wsgi.py
    StaticFiles: "/_static/=static/"
